@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 400;
     src: url(/fonts/FiraMono-Regular.woff2) format('woff2');
 }
 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 500;
     src: url(/fonts/FiraMono-Medium.woff2) format('woff2');
 }
 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 700;
     src: url(/fonts/FiraMono-Bold.woff2) format('woff2');
 }