@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply text-green-400 underline-offset-2 decoration-[1.5px] hover:text-amber-400 focus:outline-none focus:underline focus:decoration-amber-400
    }
}

 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 400;
     src: url(/fonts/FiraMono-Regular.woff2) format('woff2');
 }
 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 500;
     src: url(/fonts/FiraMono-Medium.woff2) format('woff2');
 }
 @font-face {
     font-family: 'Fira Mono';
     font-style: normal;
     font-weight: 700;
     src: url(/fonts/FiraMono-Bold.woff2) format('woff2');
 }